.header {
  position: relative;
  background-image: url("../img/header-bg@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 66px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .header {
    background-image: url("../img/header-bg@2x.jpg");
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header__wrapper-nav {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 3;
  margin-bottom: 60px;
}

.header__logo {
  margin-right: 120px;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav-item {
  margin-right: 72px;
  margin-bottom: 10px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 22px;
  color: $color-white;
}

.header__nav-link:hover {
  opacity: 0.8;
}

.header__nav-link:active {
  opacity: 0.5;
}

.header__contacts {
  margin-left: auto;
}

.header__contacts-tel {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $color-white;
}

.header__contacts-tel:hover {
  opacity: 0.8;
}

.header__contacts-tel:active {
  opacity: 0.5;
}

.header__contacts-title {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: $color-white;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  color: $color-white;
  z-index: 3;
}
