$color-black: #000000;
$color-white: #ffffff;
$color-dark: #1f2021;
$color-gray: #f3f3f3;
$color-gray-border: #cacaca;
$color-blue: #6ebbd3;
$color-red: #e52d2d;
$main-font: "Montserrat", "Arial", sans-serif;
$desktop-width: 1300px;
$tablet-width: 1024px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
