.footer {
  display: flex;
  background-color: $color-dark;
  padding: 83px 80px;
  margin-bottom: 114px;
  justify-content: space-between;
}

.footer-wrapper-text {
  color: $color-white;
}

.footer__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
}

.footer__text {
  margin: 0;
  width: 400px;
  font-size: 28px;
  line-height: 91.2%;
}

.footer__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 568px;
}

.footer__form-email {
  width: 48%;
  max-width: 300px;
  height: 65px;
  background-color: $color-white;
  border: none;
  border-radius: 10px;
  padding: 22px 33px;
}

.footer__form-email::placeholder {
  color: $color-black;
}

.footer__form-button {
  width: 48%;
  max-width: 250px;
  height: 65px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
  background-color: $color-blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.footer__form-button:hover {
  opacity: 0.8;
}

.footer__form-button:active {
  opacity: 0.5;
}

.footer__checkbox-label {
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
  margin-top: 24px;
  padding-left: 37px;
}

.footer__checkbox-label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: $color-blue;
  border-radius: 3px;
}

.footer__checkbox:checked ~ .footer__checkbox-label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  background-image: url("../img/check-mark.svg");
}

@media (max-width: $tablet-width) {
  .footer {
    flex-direction: column;
  }

  .footer-wrapper-text {
    margin-bottom: 30px;
  }

  .footer__form {
    max-width: none;
  }

  .footer__form-email {
    max-width: none;
  }

  .footer__form-button {
    max-width: none;
  }
}
